<section>
   <div class="inner-content-top-out-bottom-out background-color-grey">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
               <h2>Produtos utilizados</h2>
            </div>
         </div>
         <div class="container-features">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/produtos/bona-pro.jpg"
                        class="img-responsive"
                        />
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/produtos/skania-pro.jpg"
                        class="img-responsive"
                        alt="skania-pro"
                        />
                     </div>
                  </div>
               </div>
               
            </div>
            
         </div>
      </div>
   </div>
</div>
</section>