<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="{{ site.url }}/photos/montage.jpg" />
  <link href="/assets/img/favicon.ico" rel="icon">
  
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="google-site-verification" content="tN8hZnnhBgoPB_eCLswgnXlIAmTnaATd-_gXkKRlzKA" />
</head>