<!-- start Mobile Nav section -->
<div class="mobile-whiten">&nbsp;</div>
<nav class="mobile-shift-menu" id="mobile-shift-menu">
  <div class="closebtn">
    <h4>Fechar <i class="fa fa-times"></i></h4>
  </div>
  <div style="width: auto;">
    <div class="mobile-nav-section">
      {% for post in site.posts %}
        <a href="{{ post.url }}"  class="link-color-white nav-menu-item-wrapper">
          <h4>{{ post.title }}</h4>
        </a>
      {% endfor %}
      <a
        href="{{ site.baseurl }}/"
        class="link-color-white nav-menu-item-wrapper"
        >
        <h4>Inicio</h4>
      </a>
      
      
      <a
        href="{{ site.baseurl }}/contact"
        class="link-color-white nav-menu-item-wrapper"
        >
        <h4>Contato</h4>
      </a>
    </div>
  </div>
</nav>
<!-- end of Mobile Nav section -->
<!-- start Header section -->
<header id="header">
  <nav class="navbar navbar-default "  >
    
    
    
    {% include top-header.html %}
    <div class="container" style="padding-top: 10px;padding-bottom:10px">
      
      <div class="row">
        
        <div class="col-lg-8 col-md-8 col-sm-8  col-xs-8">
          <a class="navbar-brand" href="{{ "/" | relative_url }}">
            <img
            style="width:350px; height:60px"
            class="navbar-logo"
            src="{{ site.baseurl }}/assets/img/logo2.svg"
            alt="{{ site.title }}"
            >
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2">
          <button type="button" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 fix">
          <div id="defaultmenu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right ">
              <ul class="nav navbar-nav pull-right ">
                
                <li class="dropdown">
                  <a  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Serviços
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="about-us">
                      {% for post in site.posts %}
                        <li><a class="nav-link" href="{{ post.url }}" >
                          {{ post.title }}
                        </a></li>
                      {% endfor %}
                    </li>
                    
                  </ul>
                  {% include navigation.html navigation=site.data.navigation %}
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </nav>
    </header>
    <!-- end of Header section -->