<section>
   <div class="inner-content-top-out-bottom-out ">
      <div class="container ">
         <div class="row text-center mb-2 ">
            
            <h2>Temos os materiais adequados para seu deck</h2>
            
         </div>
         <div class="container-features">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/material/IMG-20201205-WA0007.jpg"
                        class="img-responsive"
                        alt="sparlack"
                        />
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/material/IMG-20201205-WA0003.jpg"
                        class="img-responsive"
                        alt="cetol"
                        />
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/material/IMG-20201205-WA0004.jpg"
                        class="img-responsive"
                        alt="sparlack cetol"
                        />
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/material/osmocolor.jpg"
                        class="img-responsive"
                        alt="Montana"
                        />
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="feature-box">
                     <div class="feature-box-content">
                        <img
                        style="margin-bottom: 50px;"
                        src="/photos/material/bona-deck.jpg"
                        class="img-responsive"
                        alt="Bona"
                        />
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>
</section>