<section>
  <div class="inner-content-top-out-bottom-out background-color-grey">
    <div class="container-fluid">
      <div class="row row-flex-center-sm">
        <div class="col-lg-3 col-lg-offset-3 col-md-8 col-sm-6 col-xs-12">
          <h2 class="text-uppercase">Porque passar synteko no seu piso</h2>

          <p>
            <strong
              >As principais vantagens do piso com sinteco são: O piso com
              sinteco é muito mais brilhante que os sem o revestimento;Por ser
              um produto que funciona como revestimento, o piso com sinteco
              possui uma resistência muito superior;O piso com sinteco recebe
              uma camada protetora que facilita durante a limpeza;Essa camada
              também deixa o piso sinteco 100% protegido contra cupins, fungos e
              outros parasitas.</strong
            >
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <img src="/photos/synteko.jpg" class="img-responsive" />
        </div>
      </div>
    </div>

    <hr class="hr-cloud-overview" />
    <div class="row row-flex-center-sm">
      <div
        class="col-lg-3 col-lg-push-6 col-md-8 col-md-push-4 col-sm-6 col-sm-push-6 col-xs-12"
      >
        <h2 class="text-uppercase">
          motivos para aplicar bona
        </h2>

        <p class="mb-small">
          Depois de alguns anos, o piso de madeira começa a se desgastar e
          sofrer arranhões, sendo necessária a realização de uma manutenção. A
          aplicação de Bona irá fazer esse trabalho de restauração e ainda
          devolver o brilho e a beleza do piso de madeira. Para obter um
          resultado satisfatório, é importante estar com uma equipe qualificada
          para receber um serviço uniforme e com um bom acabamento.
        </p>
      </div>
      <div
        class="col-lg-4 col-lg-pull-1 col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6 col-xs-12"
      >
        <img src="/photos/bona.jpg" class="img-responsive" />
      </div>
    </div>

    <hr class="hr-cloud-overview" />

    <div class="row row-flex-center-sm">
      <div class="col-lg-3 col-lg-offset-3 col-md-8 col-sm-6 col-xs-12">
        <h2 class="text-uppercase">
          Conheça o processo de Calafetação
        </h2>

        <p class="mb-small">
          A calafetação é um processo de preenchimento das frestas entre as
          peças que compõe o piso, através da aplicação de massa própria, também
          chamada de calafete. A calafetação pode ser feita com massa acrílica e
          cola poliuretano, que são produtos prontos de fábricas, ou massa
          preparada com o próprio “pó” de madeira produzida durante o lixamento
          misturado com cola branca à base de PVA ou resina.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="/photos/cala.jpg" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
