<section>
  <div class="inner-content-top-out-bottom-out background-color-grey">
    <div class="container-fluid">
      <div class="row row-flex-center-sm">
        <div class="col-lg-3 col-lg-offset-3 col-md-8 col-sm-6 col-xs-12">
          <h2 class="text-uppercase orange">Por que passar sinteco no seu piso?</h2>
          <p>
            <strong
            >As principais vantagens de passar sinteco é o baixo custo e a
            maior resistência, conferindo maior proteção contra produtos
            químicos.
            </strong>
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <img src="/photos/synteko.jpg" class="img-responsive" alt="aplicar sinteco rio de janeiro from syntekoboituva.com" />
        </div>
      </div>
    </div>
    <hr class="hr-cloud-overview" />
    <div class="row row-flex-center-sm">
      <div
        class="col-lg-3 col-lg-push-6 col-md-8 col-md-push-4 col-sm-6 col-sm-push-6 col-xs-12"
        >
        <h2 class="text-uppercase orange">
        motivos para aplicar verniz a base de água
        </h2>
        <p class="mb-small">
          Vantagens de aplicar o verniz a base de água: não tem cheiro é um
          material ecologicamente correto, secagem rápida e podendo ser
          revitalizado sem o processo de raspagem que faz tanto transtorno.
        </p>
      </div>
      <div
        class="col-lg-4 col-lg-pull-1 col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6 col-xs-12"
        >
        <img src="/photos/IMG-20201213-WA0005.jpg" class="img-responsive" alt="aplicar sinteco São Paulo from syntekoboituva.com" />
      </div>
    </div>
    <hr class="hr-cloud-overview" />
    <div class="row row-flex-center-sm">
      <div class="col-lg-3 col-lg-offset-3 col-md-8 col-sm-6 col-xs-12">
        <h2 class="text-uppercase orange">
        Conheça o processo de Calafetação
        </h2>
        <p class="mb-small">
          A calafetação é um processo de preenchimento das frestas entre as
          peças que compõe o piso, através da aplicação de massa própria, também
          chamada de calafete. A calafetação pode ser feita com massa acrílica e
          cola poliuretano, que são produtos prontos de fábricas, ou massa
          preparada com o próprio “pó” de madeira produzida durante o lixamento
          misturado com cola branca à base de PVA ou resina.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        
        {% include youtube.html id='WG9AVvDqqCc' %}
      </div>
    </div>
  </div>
</section>