<section class="bar ">
  <div class="row text-center">
    <div class="col-md-12">
      <h2>Servicos</h2>
    </div>
  </div>
  <div class="row services text-center">
    {% for service in site.services %}

    <div class="col-md-4">
      <div class="box-simple">
        
          <div class="icon-outlined">
            <a href="{{ service.url }}">
            <img
              style="width:300px;height:300px"
              src="{{  service.img | site.baseurl }}"
              class="img-fluid"
            />

            <div class="service-text">
              
              <h3>{{ service.title }}</h3>
            
            </div>
          </a>
          </div>
         
        </a>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
