<section class="bar ">
  <div class="row text-center">
    <div class="col-md-12">
      <h2>Servicos</h2>
    </div>
  </div>
  <div class="row services text-center">
    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0032.jpg"
            class="img-fluid"
          />
          <h3>Escadas</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Verniz Cetol Deck</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Verniz resistente a quimica e xixi de cachorro</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Calafetacao com cola</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Verniz poliretano</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Decks - Osmocolor uv Deck</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-simple">
        <div class="icon-outlined">
          <img
            style="width:300px;height:300px"
            src="/photos/IMG-20201120-WA0026.jpg"
            class="img-fluid"
          />
          <h3>Bona trafic - alto trafego</h3>
        </div>
      </div>
    </div>
  </div>
</section>
