<section class="no-mb relative-positioned">
  <div
    style="background: url('/photos/wall.webp') center center repeat; height:400px;background-size: cover;"
    class="jumbotron relative-positioned color-white text-md-center "
    >
    <div class="container">
      <div class="row mb-small">
        <div class="col-md-12 text-center">
          <h1 class="text-uppercase">
          Aplicação de Sinteco e raspagem, trocas e remendos de pisos
          </h1>
          {% if site.data.information %} {% assign info = site.data.information %}
            <a class="btn btn-yellow btn-md" href={{info.call}}>FALE AGORA CONOSCO</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>