<section class="no-mb relative-positioned">
  <div
    style="background: url('/photos/wall2.jpg') center center repeat; height:400px;background-size: cover;"
    class="jumbotron relative-positioned color-white text-md-center"
  >
    <div class="container">
      <div class="row mb-small">
        <div class="col-md-12 text-center">
          <h1 class="text-uppercase">
            Mantenha seu piso protegido com nossa linha de produtos
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-small"></div>
        <div class="col-md-6 ">
          <p class="text-uppercase text-bold">
            Utilizamos os melhores produtos do mercado
          </p>
          <p class="no-letter-spacing">
            Veja mais em produtos utilizados
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
