---
layout: default
---
<section id="header-section">
  <div
    class="header-background-image"
    style="background-image:url('{{ site.data.g-index.image}}');"
    >
    <div class="container">
      <div class="row row-flex-center-md">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <div class="color-white text-shadow-default">
            <ul class="list-unstyled list-big-headlines">
              <li>
                <h1>Trabalhos Recentes</h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="background-color-grey">
  <div class="inner-content-top-out-bottom-out">
    <div class="container">
      <div class="row">
        <div class="news-press-section">
          <div class="press-news-container">
            <div class="col-md-6">
              <ul class="list-unstyled list-news">
                <!-- orders content according to the "publishdate" field in front matter -->
                {% for gallery in page.galleries %}
                  <li>
                    <div class="row">
                      <div class="col-sm-9">
                        <a href="{{ gallery['gallery'] }}">
                          <img
                          alt="{{ gallery['name'] }}"
                          src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"
                          />
                        </a>
                        <div class="row">
                          <div class="col-xs-8 col-sm-6">
                            <a href="{{ gallery['gallery'] }}"
                            >{{ gallery["name"] }}</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>