---
layout: default
---

<section  class="mt-2">


  
<div class="container">

  <div class="row parent-container">

 {% for image in page.images %}



    <div class="col-md-4">
      <div class="imagenail">
        <a href="{{  image }}"  target="_blank">
        
     <img
           
              src="{{  image   }}"
              class="img-responsive"
            />
        
        </a>
      </div>
    </div>

 

     {% endfor %}
      {% if page.youtubeId != null %}
    
              {% include youtube.html id='ZX2DdQkY0Ls' %}
             {% endif %}



  </div>




    <div class="row">
 

        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
          <h2>{{page.title}}</h2>
          <div class=" location-map-container ">
            <p>
              {{page.description}}
            </p>
          </div>
        </div>
      </div>


</div>

</section>

 {% if page.material != null %}
    
              {% include material.html  %}
             {% endif %}
