<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-br" }}">
  
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{  page.tag |  slugify: 'latin'}}</title>
    
    {% if page.canonical_url != nil %}
      <link rel="canonical" href="{{ page.canonical_url }}"/>
    {% else %}
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/img/favicon.ico" rel="icon">
    <meta property="og:image" content="{{ site.url }}/photos/montage.jpg" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <meta content="{{  page.tag }}" property="og:title">
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
    
    <meta name="google-site-verification" content="tN8hZnnhBgoPB_eCLswgnXlIAmTnaATd-_gXkKRlzKA" />
  </head>
  
  
  <body>
    {% include header.html %}
    <section class="no-mb relative-positioned">
      <div
        style="background: url('/assets/img/banner2.jpg') center center repeat; height:400px;background-size: cover;"
        class="jumbotron relative-positioned color-white text-md-center "
        >
        <div class="container">
          <div class="row mb-small">
            <div class="col-md-12 text-center">
              <h1 class="text-uppercase">
              {{ page.tag }}
              </h1>
              {% if site.data.information %} {% assign info = site.data.information %}
                <a class="btn btn-yellow btn-md" href={{info.call}}>FALE AGORA CONOSCO</a>
                
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-9" style="margin-bottom:50px; margin-top:50px">
          <h2 class="orange">  Está procurando por uma empresa que aplique sinteco?</h2>
          <h3>Faça raspagem de piso de madeira, lixamento de tacos e assoalhos,  calafetação com massa, aplicação de sinteco, bona, cascolac, vita, skania em {{ page.tag }}?
          Seu piso está destruido ou você precisa de um piso melhor?</h3>
          <br/>
          {% include contact3.html %}
          <br/>
          <p>
            Não é de se admirar que as pessoas amem tanto pisos de madeira, sejam produtos modernos de madeira maciça de alta qualidade ou lindas tábuas de madeira velhas.
            Madeira é mais fácil de manter limpa do que carpete, é muito menos acolhedora para ácaros e poeira - ótimo se você sofre de alergias - e hoje em dia existem muitas opções sustentáveis e ecologicamente corretas disponíveis, com madeira cortada de florestas sustentáveis garantidas e certificadas.
          </p>
          <br/>
          {% include share-bar.html %}
          <h2 class="orange"> Então, como você pode manter seu piso de madeira deslumbrante, aconchegante e aconchegante em perfeitas condições? </h2>
          <br/>
          <p>
            Recebemos muitas perguntas sobre como aplicar {{ page.tag }} um piso de madeira, então aqui estão algumas orientações sensatas para nossos clientes. Como de costume, se você tiver alguma dúvida, não hesite em <b>contactar-nos</b> ou consulte a nossa página de sintecos para pavimentos interiores para obter mais informações. Temos uma equipe de especialistas à disposição para ajudar!
          </p>
          <br/>
          
          <p>
            Primeiro, você precisa decidir sobre o {{ page.tag }}. Você precisa de um {{ page.tag }} à base de óleo, à base de solvente ou à base de água?
            Os poliuretanos à base de óleo, embora mais fáceis de aplicar, agora são raramente usados, pois tendem a adicionar muita cor à madeira, podem levar um tempo para curar totalmente, potencialmente semanas, e têm uma vida útil curta. Duas ou três camadas geralmente resolvem o problema. Mas tenha em mente que é mais cheiroso do que produtos à base de água, sujeito a marcas de pincel e leva muito mais tempo para secar do que o solvente alternativo ou {{ page.tag }} à base de água.
          </p>
          <br/>
          <p>
            Os poliuretanos à base de água secam mais rápido e cheiram menos, mas podem aumentar ligeiramente o grão da madeira em algumas madeiras macias. Isso não é um problema, pois o processo de decapagem entre demãos ajudará a manter o acabamento final suave. Os poliuretanos à base de água não vão bem sobre manchas de madeira à base de óleo, mas funcionam bem sobre manchas de madeira à base de solvente e manchas à base de álcool. A maioria dos profissionais usa {{ page.tag }} à base de água porque eles praticamente não têm cheiro.
          </p>
          <br/>
          <h2 class="orange">  Os poliuretanos à base de solvente secam muito rapidamente, mas também são os mais malcheirosos devido ao seu alto teor de V.O.C (composto orgânico volátil). </h2>
          <br/>
          <p>
            Os {{ page.tag }} à base de solvente são normalmente usados apenas onde uma cura rápida e muito resistente é necessária, como tampos de bares, pavilhões de esportes e casas noturnas. Usar tinta à base de solvente é difícil com acabamentos de piso com solvente devido à velocidade com que secam. Os {{ page.tag }} à base de solvente podem ser problemáticos para iniciantes que não têm experiência. Provavelmente, é melhor aderir a {{ page.tag }} à base de água, que são mais fáceis de usar e fornecem resultados comparáveis.
          </p>
          <br/>
          <p class=" mb-4">
            5 dicas importantes para usar poliuretanos
            Você deve sempre aplicar {{ page.tag }} na madeira virgem. Teoricamente, você deve ser capaz de aplicar synteco sobre um {{ page.tag }} existente, mas sempre existe a possibilidade de que os 2 tipos de synteco reajam um com o outro. Se for para tentar fazer isso, sempre faça uma área de teste, espere 24 horas e, a seguir, faça um teste de raspagem da unha do polegar para garantir que o novo synteco aderiu ou aderiu ao revestimento antigo.
            Nunca, jamais agite um recipiente de synteco de poliuretano, seja óleo, solvente ou à base de água. Sacudi-lo irá enchê-lo de bolhas de ar, que ficarão grudadas ao usar o produto. Em vez disso, mexa suavemente entre cada camada.
          </p>
          <br/>
          <p>
            Sempre trabalhe em uma área limpa, sem poeira e bem ventilada. Se você estiver {{ page.tag }} um piso, abra as janelas e portas, mas tente reduzir as correntes de ar, caso eles soprem poeira no seu acabamento.
            Você pode diluir poliuretanos à base de óleo com álcool mineral, mas geralmente não é necessário. Quase sempre é bom se usado direto da lata.
            Na hora de aplicar o synteco, seja ele a base de óleo, solvente ou água, ajuda a estudar o acabamento de diversos ângulos. Diferentes quantidades de luz e a direção da luz em si tornam mais fácil identificar lugares onde você escovou demais, deixou marcas de pincel ou partes totalmente perdidas.
          </p>
          <br/>
          <p>
            Piso de madeira lindamente restaurado
            Piso de madeira lindamente restaurado - de oleklejbzon.com
            Como aplicar {{ page.tag }} de poliuretano à base de óleo?
            Use uma escova de cerdas finas, um pano limpo ou uma escova de espuma - tome cuidado com as escovas baratas, que geralmente deixam fios de cabelo feios para trás e também fazem pinceladas óbvias.
            Pincele o synteco na mesma direção do grão e não aplique muito grosso. Não escove a mesma área repetidamente. E use pinceladas longas, que ajudam a eliminar as bolhas do produto. Quaisquer pequenas bolhas deixadas no final do processo devem desaparecer rapidamente. Lixe levemente (denib) entre as demãos.
          </p>
          <br/>
          <h2 class="orange">     Como aplicar {{ page.tag }} de poliuretano à base de água?</h2>
          <br/>
          <p class=" mb-4">
            
            Aplique uma camada muito fina com um pincel fino ou almofada de espuma. Trabalhe na mesma direção da fibra da madeira. Para evitar o aumento do grão, não aplique muito de uma vez - é muito melhor prevenir do que remediar, então vá com calma. A primeira demão deve secar em algumas horas e, embora não seja necessário lixar levemente (denib) entre as demãos, os profissionais costumam fazer, pois pode ajudar a obter um acabamento mais liso. Se estiver usando um primer, 2 camadas de laca à base de água geralmente são suficientes; se não estiver usando um primer, então 3 demãos podem ser necessárias para oferecer proteção ideal.
          </p>
          
          <p>
            Como aplicar {{ page.tag }} de poliuretano à base de solvente?
            Aplique uma camada fina com um pincel fino ou rolo de microfibra. Trabalhe na mesma direção da fibra da madeira. Mantenha a sala sempre bem ventilada, abrindo portas e janelas e esteja atento aos tempos de secagem rápidos. Tal como acontece com os {{ page.tag }} à base de água, se estiver usando um primer, 2 camadas de laca à base de solvente são geralmente suficientes; se não estiver usando um primer, então 3 demãos podem ser necessárias para oferecer proteção ideal.
          </p>
          <br/>
          <h2 class="orange">     Preparação do piso de madeira em 8 etapas</h2>
          <br/>
          <p>
            
            Quanto melhor você limpar o ambiente antes de começar, melhor será o acabamento final. Poeira e sujeira podem impedir que a lixa seja tão eficaz quanto deveria e também podem bagunçar terrivelmente o seu synteco se você não fizer tudo o que puder para manter as coisas impecáveis. Algumas pessoas até passam o aspirador nas paredes e no teto para ter 100% de certeza de que há um mínimo de poeira.
            Alugue uma lixadeira especial para pisos e você poderá facilmente lixar até as bordas do piso sem ter que se ajoelhar e fazer os pedacinhos complicados.
          </p>
          <br/>
          <p class="mb-5">
            Preencha todas as lacunas nas tábuas do piso, se precisar ou quiser.
            Dependendo das condições do piso, pode ser necessário começar a lixar com uma lixa mais grossa. Comece em uma extremidade da sala e lixe com o grão. Use uma lixa menos grossa, geralmente em torno de um abrasivo de grão 120 a 150 para obter um acabamento bonito e suave.
            Segurança em primeiro lugar ... desligue sempre a lixadeira quando precisar trocar o papel.
            Deixe a poeira assentar e, em seguida, aspire completamente para se livrar de cada partícula. Em seguida, limpe a superfície com um pano e álcool branco ou um esfregão úmido (NÃO molhado!) E deixe secar completamente.
            Se você estiver usando um pincel, pano ou esponja, aplique duas a três camadas de synteco com tempo de secagem adequado entre elas - verifique as recomendações do fabricante na lata. Se não estiver totalmente seco, ficará pegajoso. Certifique-se de aplicar o produto em pequenas áreas de 4-5 pés quadrados de cada vez.
            Não pise no chão por pelo menos um dia depois de terminar o trabalho.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="support-form-sidebar mt-5 mb-5" style="margin-top:50px; margin-bottom:50px">
            <div class="support-form-sidebar-content links">
              <h4>Categorias</h4>
              <!-- {{ site | tag_cloud }} -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="background-color-grey">   <div class="container">
      <div class="row mt-5 mb-5">   {% include contact2.html %}</div></div></div>
      
      {% include footer.html %}
      {% include script.html %}
    </body>
  </html>